
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Layout.cshtml";
}

 <div class="slider-area ">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center">
                                <h2>İletişim</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hero End -->
        <!-- ================ contact section start ================= -->
        <section class="contact-section">
            <div class="container">
<div class="row">
            <div class="col-12">

                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d392374.1796558691!2d32.55347315704607!3d39.797496231158355!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14d345ad9f357261%3A0x4b01c691eefd6f1d!2zw4dhbmtheWEvQW5rYXJh!5e0!3m2!1str!2str!4v1765950870556!5m2!1str!2str" width="1200" height="900" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
                </div>
        </div>
                <div class="row">
                    <div class="col-12">
                        <h2 class="contact-title">Bizimle İletişime Geçin</h2>
                    </div>
            @await Component.InvokeAsync("_ContactSendMessage")
            @await Component.InvokeAsync("_ContactInfo")
                    
                </div>
            </div>
   
        </section>

